.profile-card a {
    
   
    text-decoration: none; /* Loại bỏ gạch chân của liên kết Gmail */
        
       
    color: #42b14b; /* Màu chữ của liên kết */
    }
    .profile-card {
        background-color: rgb(205, 221, 204); /* Màu nền phần nội dung */
        border-radius: 10px; /* Bo tròn các góc */
        border: 2px solid #ccc; /* Viền xám dày 2px */
        max-width: 400px;
        padding: 20px;
        text-align: center;
    }
    
    .highlight {
        border: 2px solid #b1b694; /* Viền màu xanh lá cây dày 2px */
        border-radius: 20px; /* Bo tròn góc lớn hơn */
        padding: 5px 10px; /* Khoảng cách bên trong */
        display: inline-block; /* Chuyển sang dạng khối để có thể áp dụng border-radius */
        color: #43924a; /* Màu chữ của các mục được highlight */
    }
    
    .profile-card img {
        border-radius: 50%; /* Bo tròn ảnh cá nhân */
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    
    